// White color
$white-color: #ffffff;

// Black color
$black-color: #1a2030;
$dark-black: #111111;

// Gray color
$dark-gray: #8b8b8b;
$light-gray: #818181;

// accent-color
$accent-color: #ff749f;
$dark-pink: #ff558a;
$light-pink: #ffbacf;
$gray-pink: #ffdce7;

// Green color
$green-color: #73d982;

// Red color
$red-color: #eb001b;

// Background color
$bg-color: #f5eff5;
