.popup-delete {
   .popup-2__content {
      max-width: 405px;
      padding: 32px;
   }
   .popup-2__title {
      font-size: 24px;
      font-weight: 600;
      line-height: 1.25;
      letter-spacing: 0.2px;
   }
   &__btns {
      display: flex;
      column-gap: 41px;

      & > * {
         flex-grow: 1;
      }
   }

   /* Tablet Small*/
   @media (max-width: 899px) {
      .popup-2__content {
         max-width: unset;
         width: 358px;
         padding: 32px 16px;
      }

      .popup-2__title {
         max-width: 314px;
      }
   }

   /* Mobile*/
   @media (max-width: 599px) {
      .popup-2__content {
         width: 90vw;
      }
   }
}
