.reset {
   display: inline-block;
   font-size: 12px;
   font-weight: 400;
   color: $light-gray;

   flex-shrink: 0;
   border-bottom: 1px solid $light-gray;
   cursor: pointer;
   @include transition;

   &:hover,
   &:focus,
   &:focus {
      color: $black-color;
      border-bottom: 1px solid $black-color;
   }
}
