.catalog {
   padding-bottom: 120px;
   &__heading {
      display: flex;
      align-items: center;
      column-gap: 16px;
      margin-bottom: 24px;
   }

   &__title {
   }

   &__results-qual {
      display: none;
      font-size: 32px;
      font-weight: 600;
      line-height: 0.93;
      letter-spacing: 0.1px;
      color: $dark-gray;

      font-size: 32px;
      font-weight: 600;
      line-height: 0.93;
      letter-spacing: 0.1px;

      /* Tablet Big */
      @media (max-width: 1231px) {
         font-size: 30px;
      }

      /* Tablet Small*/
      @media (max-width: 899px) {
         font-size: 28px;
      }

      /* Mobile*/
      @media (max-width: 599px) {
         font-size: 20px;
         line-height: 1.3;
      }
      &.active {
         display: inline-block;
      }
   }

   &__row {
      display: flex;
      column-gap: 32px;
      align-items: start;
   }

   &__col-1 {
      width: 289px;
      flex-shrink: 0;
   }

   &__col-2 {
      flex-grow: 1;
   }

   &__top-filters {
      margin-bottom: 16px;
   }

   &__receipts {
      margin-bottom: 16px;

      /* Tablet Big */
      @media (max-width: 1231px) {
         margin-bottom: 26px;
      }
   }

   &__results {
   }

   &__mob {
      display: none;
   }

   /* Tablet Small*/
   @media (max-width: 899px) {
      padding-bottom: 100px;
      overflow-x: hidden;
      .catalog__heading--descr {
         display: none;
      }
      .catalog__row {
         display: none;
      }

      &__mob {
         display: block;
      }

      .container--heading {
         margin-bottom: 20px;
      }
      &__heading {
         margin-bottom: 0;
      }

      .container--top-filters {
         margin-bottom: 16px;
      }

      &__top-filters {
         margin-bottom: 0;
      }

      &__receipts {
      }

      &__swiper-slide {
         display: inline-block !important;
         width: unset !important;
         height: unset !important;
      }

      &__receipts {
         padding-left: 16px;
      }
   }

   /* Mobile*/
   @media (max-width: 599px) {
      padding-bottom: 80px;
      &__heading {
         margin-bottom: 16px;
      }

      &__receipts {
         margin-bottom: 32px;
      }
   }
}
